appdirs==1.4.3
certifi==2018.4.16
chardet==3.0.4
Django==1.11.18
django-cors-headers>=2.1.0
django-extensions>=1.9.8
djangorestframework>=3.6.3
djangorestframework-gis>=0.11.2
djangorestframework-jwt>=1.11.0
gunicorn==19.7.1
idna==2.6
packaging==16.8
psycopg2-binary==2.7.5
pydot==1.2.3
PyJWT==1.5.3
pyparsing==2.2.0
pytz==2018.4
requests==2.20.0
six==1.11.0
typing==3.6.2
urllib3==1.23
